<%- include header %>
<div class="container about">
    <div class="row-fluid">
        <center><h2 >网站信息</h2></center>
        <div class="span6 offset3">
        <section>
            <strong >关于我<span> / About Me</span></strong>
            <div>
                
                <P>暂无</P>
            </div>
         </section>
          
          <section>
            <strong class="title">关于网站<span> / About the website</span></strong>
            <div>
                <p>技术： bootstrap + ejs+  express + mongoose </p>
            </div>
            </section>
            <section>
            <strong class="title">其他信息<span> / External Links</span></strong>
         
                <ul >
                    <li>Github：
                        <a href="https://github.com/liberalist1991" target="_blank">liberalist1991</a>
                    </li>
                    <li>Old Blog：
                        <a href="http://blog.zhanxusen.me" target="_blank">Here</a>
                    </li>
                    
                    <li>E-mail：
                        <a href="mailto:test@qq.com" target="_blank">test@qq.com</a>
                    </li>
                </ul>
            
            </section>
        </div>
       
    </div>
</div>

<%- include footer %>